.aurora {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background: linear-gradient(270deg, #ff0080, #7928ca, #00ffff, #ff0080);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: aurora 6s ease infinite;
}
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family: nunito-parrafo;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
}
main {
    text-align: center;
}
.main-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav {
    /*
    position:fixed;
    top: 0;
    */
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu-links a {
    text-decoration: none;
    color: black;
}

.menu-links a:hover {
    color: rgb(97, 97, 97);
}

.login-button {
    background-color: #f0f0f0;
    padding: 18px;
    font-size: 1em;    border-radius: 20px;
    border: 0px;
    transition: 0.3s ease;
}
.login-button:hover {
    background-color: #cfcfcf;
}

.signup-button {
    background-color: #8750ff;
    color: white;
    font-weight: bold;
    padding: 18px;
    font-size: 1em;
    border-radius: 20px;
    border: 0px;
    transition: 0.3s ease;
}
.signup-button:hover {
    background-color: #b04df6;
}

.start-planning-button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: linear-gradient(90deg, #8750ff, #5145ff); 
    overflow: hidden;
    transition: color 0.3s ease;
}

.start-planning-button::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #9b5cff, #7d3cff); 
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 25px;
    z-index: 0;
}

.start-planning-button span {
    position: relative;
    z-index: 1;
}

.start-planning-button:hover::before {
    opacity: 1; 
}

.view-plans-button {
      position: relative;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgb(178, 178, 182);
    overflow: hidden;
    transition: 0.3s ease;
}
.view-plans-button:hover {
    background-color: #d5d5d5;
}


.section-collaborate {
    padding: 80px 20px;
    color: white;
    text-align: center;
    max-width: 900px;
    margin: auto;
}


.collab-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: black;
}

.collab-subtitle {
    color: black;

    font-size: 1.1em;
    opacity: 0.8;
    margin-bottom: 50px;
}

.collab-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.collab-card {
        background-color: #cbcbcb;
    color: rgb(255, 255, 255);
    padding: 25px;
    width: 260px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.collab-card:hover {
    transform: translateY(-8px);
    background-color: rgb(147, 147, 148);
}

.collab-card h3 {
    margin-bottom: 10px;
    font-size: 1.3em;
}

.collab-card p {
    font-size: 0.9em;
}


/*
footer {
    position: absolute;
    bottom: 0;
    background-color: #f3f3f3;
    height: 40px;
    width: 100%;
}
*/


@keyframes aurora {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@media (max-width: 768px) {

    
}



@font-face {
    font-family: nunito-parrafo;
    src: url(../assets/fonts/nunito/Nunito-Medium.ttf);
}