@media (max-width: 1000px) {
    * {
        font-size: 1em;
    }
    nav {
        font-size: 1em;
    }
    nav {
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
                justify-content: center;

    }
    .links-buttons, .links, .buttons-nav {
        display: flex;
        flex-direction: column;
        text-align: center;
                align-items: center;
        align-content: center;
        justify-content: center;
    }
}