.price-clientes {
    background-color: #ffe8e2;
    padding: 60px 20px;
    text-align: center;
}

.planes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}


.caja {
    background: #ffffff;
    width: 300px;
    padding: 25px;
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
}

#premium {
    border: 3px solid #ff6d4d;
    position: relative;
}

.tag-popular {
    background: #ff6d4d;
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    width: fit-content;
}

.precio {
    font-size: 45px;
    margin: 15px 0;
}

.mes {
    font-size: 18px;
    color: gray;
}

.beneficios-lista {
    list-style: none;
    text-align: left;
    margin: 20px 0;
    padding: 0;
}

.beneficios-lista li {
    margin-bottom: 8px;
    font-size: 15px;
}

.ultimo {
    margin-top: auto; 
}

.but-prices {
    background-color: white;
    border: 2px solid #ff6d4d;
    color: #ff6d4d;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

#premium .but-prices {
    background-color: #ff6d4d;
    color: white;
}


.but-prices:hover {
    background-color: #ffefe8;
}

#premium .but-prices:hover {
    background-color: #e65a3d;
}

@media (max-width: 800px) {
    .planes {
        flex-direction: column;
        align-items: center;
    }
}